<% if @course.errors %>
  <%= @course.errors[:message] %>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @course.slug %></h1>

    </div>
  </div>

  <div class="Course">
    <div class="row">
      <div class="col-xs-6">
      </div>
    </div>

    <div class="row Course-details">
      <div class="col-xs-5">
        <h3>Start Dates</h3>
        <% @course.start_dates.each do |start_date| %>
          <div class="Course-ingredient">
            <%= start_date %>
          </div>
        <% end %>
      </div>

      <div class="col-xs-6">
        <h3>Prices</h3>
        <% if request.location.country == "UK" %>
        	<% price = @course.price["UK"] %>
        <% elsif request.location.country == "EU" %>
        	<% price = @course.price["EU"] %>
        <% else %>
        	<% price = @course.price["NA"] %>
        <% end %>
          <div>Total: <%= price["total"] %> </div>
          <div>Upfront: <%= price["upfront"] %> </div>
          <div>Installment: <%= price["installment"] %> </div>
          <div>Cycles: <%= price["cycles"] %> </div>
      </div>
    </div>
  </div>
<% end %>
